<script id="tmpl-nf-field-listradio" type="text/template">
    <ul aria-describedby="nf-error-{{{ data.id }}}">
        {{{ data.renderOptions() }}}
    </ul>
</script>

<script id='tmpl-nf-field-listradio-option' type='text/template'>
	<# if ( ! data.visible ) { return '' } #>


	<div class="mt-1">
		<label class="inline-flex items-center">
		  <input type="radio" class="form-radio h-8 w-8" name="nf-field-{{{ data.fieldID }}}" value="{{{ data.value }}}" {{{ ( data.value == data.currentValue  || 1 == data.selected ) ? 'checked="checked"' : '' }}}>
		  <span class="ml-4 text-xl">{{{ data.label }}}</span>
		</label>
	  </div>


       
</script>

<script id='tmpl-nf-field-listradio-other' type='text/template'>
    <li>
        <input type="radio" name="nf-field-{{{ data.fieldID }}}" class="form-radio h-8 w-8 {{{ data.classes }}} nf-element" value="nf-other" {{{ ( ! data.valueFound ) ? 'checked="checked"' : '' }}}> <label>Other {{{ data.renderOtherText() }}}</label>
    </li>
</script>

<script id='tmpl-nf-field-listradio-other-text' type='text/template'>
    <input type="text" name="nf-field-{{{ data.fieldID }}}" class="nf-element" value="{{{ data.currentValue }}}">
</script>
