{% extends "./includes/template.html" %}
      
{% block content %}
<!-- CONTENT -->
<div class="container mx-auto mb-10">
  <div class="container mx-auto mb-10">
     <!-- -->
     <form method="post" autocomplete="off" novalidate="">

       <h1>Button</h1>

       <a class="wp-block-button__link" href="#">Let’s go</a>

       <input type="submit" value="Submit" class="gform_button button">

       <!-- start field -->
       
      <!-- end field -->
    </form>
  <!-- end -->
</div>

{% endblock %}
      
   