{% extends "./includes/template.html" %}
      
{% block content %}
<!-- CONTENT -->
<div class="container mx-auto mb-10">
  <div class="container mx-auto mb-10">
    <!-- banner start -->
    <div class="banner">
      <p>
        Home
      </p>
    </div>
    <!-- banner end -->
    <div>
      <div>
        <p class="mb-3">
          You will need the following information to proceed:
        </p>
        <ul class="list-disc list-inside sm:list-outside mb-3">
          <li><span>The ability to copy and paste</span></li>
          <li>
            <span>An understanding that this is not a real application</span>
          </li>
        </ul>
      </div>
    <!-- -->
    </div>
  <!-- end -->
</div>

{% endblock %}
      
   