/* purgecss start ignore */

h3.gf_progressbar_title {
  @apply text-gray-700 font-normal;
}

h1 {
  @apply border-b border-red text-4xl font-bold pb-1 mb-10 font-sans;
}

h2 {
  @apply text-2xl py-5 font-bold;
}

h3 {
  @apply text-xl mt-10 mb-5 font-bold;
}

hr.wp-block-separator {
  @apply mt-16 mb-8;
}

input[type="submit"].gform_button.button {
  @apply cursor-pointer border-b-4 border-black py-3 px-5 mr-2 font-bold text-lg no-underline text-white bg-blue outline-none;
}

input[type="submit"].gform_button.button:focus {
  @apply shadow-outline;
}

input[type="submit"].gform_button.button:hover {
  @apply bg-blue-400;
}

.wp-block-button__link {
  border-radius: 0;
  border-bottom: solid;
  @apply border-b-4 border-black py-3 px-5 mb-10 mr-2 font-bold text-lg no-underline text-white bg-blue outline-none;
}

.wp-block-button__link:focus {
  @apply shadow-outline;
}

.wp-block-button__link:hover {
  @apply bg-blue-400;
}

.wp-block-buttons .wp-block-button {
  margin: 0;
}

/* purgecss end ignore */
