/* purgecss start ignore */

h3.gf_progressbar_title {
    @apply text-gray-700 font-normal;
}

input[type="submit"].gform_button.button {
    @apply cursor-pointer border-b-4 border-black py-3 px-5 mr-2 font-bold text-lg no-underline text-white bg-blue outline-none;
}
  
input[type="submit"].gform_button.button:focus {
    @apply shadow-outline;
}

input[type="submit"].gform_button.button:hover {
    @apply bg-blue-400;
}

.wp-block-button__link {
    border-radius: 0;
    border-bottom: solid;
    @apply border-b-4 border-black py-3 px-5 mb-10 mr-2 font-bold text-lg no-underline text-white bg-blue outline-none;
}

.wp-block-button__link:focus {
    @apply shadow-outline;
}

.wp-block-button__link:hover {
    @apply bg-blue-400;
}

.wp-block-buttons 
.wp-block-button {
    margin: 0;
}

/* purgecss end ignore */