@import "tailwindcss/base";

@import "tailwindcss/components";

@import "tailwindcss/utilities";

@import "./custom";

body {
  @apply text-xl;
}

p {
  @apply mb-5 leading-8;
}

a {
  text-decoration: underline;
}

ol,
ul {
  list-style: disc;
  @apply mb-10;
}

li {
  @apply ml-5 pl-2 mb-1;
}

ul.menu {
  list-style: none;
}

ul.menu li {
  @apply ml-0 pl-0;
}

h4,
h5 {
  @apply font-bold;
}

.input {
  border-color: #000;
  @apply border-solid border-2 py-3 px-2;
}

input[type="radio"] {
  @apply form-radio text-blue h-10 w-10 border-2 border-black;
}

input[type="checkbox"] {
  @apply form-checkbox text-blue h-10 w-10 border-2 border-black;
}

label {
  @apply block pb-2;
}

@variants focus {
  .input {
    @apply outline-none;
  }
}

/* form(s) */
.form-group {
  @apply mb-6;
}

.form-group label {
  @apply text-xl font-bold mb-2;
}

.form-group label span {
  @apply font-normal text-lg ml-3;
}

.list-disc {
  @apply pb-2;
}

.list-disc li {
  @apply mx-6;
}

.form-group-error {
  @apply mr-4 pl-4 border-l-4 border-red;
}

.form-control-error {
  @apply border-4 border-red;
}

.error-message {
  @apply block text-red text-base mb-2;
}

input[type="button"] {
  @apply cursor-pointer border-b-4 border-black py-3 px-5 mr-2 font-bold text-lg no-underline text-white bg-blue outline-none;
}

input[type="button"]:focus {
  @apply shadow-outline;
}

input[type="button"]:hover {
  @apply bg-blue-400;
}

input[type="text"] {
  @apply mb-2;
}

select {
  @apply h-12;
}

.banner {
  @apply border-l-4 border-solid border-blue-400 bg-blue-200 p-5 mb-10
}

.banner p {
  @apply text-xl m-0;
}